@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  /* Header */
  .header-link {
    @apply cursor-pointer hover:opacity-60 transition-all duration-300 ease-in-out;
  }

  /* Hero */
  .stroke {
    @apply w-22 h-1 rounded-full;
  }

  /* About */
  .line-dark {
    @apply bg-dark rounded-full;
  }

  .overlay-text {
    @apply absolute font-serif text-overlay text-dark opacity-10 leading-none
    md:text-[150px] sm:text-[100px];
  }

  /* Skills */
  .technology-text {
    @apply text-7xl lg:text-5xl md:text-4xl opacity-30 font-serif absolute;
  }
}
