@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  /* Header */
  .header-link {
    @apply cursor-pointer hover:opacity-60 transition-all duration-300 ease-in-out;
  }

  /* Hero */
  .stroke {
    @apply w-22 h-1 rounded-full;
  }
}
